<div class="form-control w-full z-0 flex flex-col">
    @if (label()) {
    <div class="label">
        <span class="label-text">{{label()}}</span>
    </div>
    }
    <div class="relative flex flex-row items-center ">
        @if (disabled()) {
        <div class="absolute top-0 left-0 flex h-full w-full bg-gray-100 opacity-40 z-10"></div>
        }
        @if (!multiple()) {
        <input (click)="toggleDropdown($event)" [readOnly]="true"
            [value]="internalValue()[0] ?? '' | appStringify : optionsDirective()?.stringify()!" type="text"
            [placeholder]="placeholder()" [ngClass]="{'input-error': isError}"
            class="input input-bordered w-full input-sm h-10 rounded-md cursor-pointer hover:border-primary transition-colors duration-100"
            [id]="id" />
        }
        @else {
        <div (click)="toggleDropdown($event)" [ngClass]="{'input-error': isError}"
            class="input input-bordered w-full input-sm min-h-10 rounded-md cursor-pointer hover:border-primary transition-colors duration-100 flex flex-row items-center gap-1 h-fit py-2 flex-wrap">
            @for (item of selectedOptionsChange(); track $index) {
            <app-tag (onClose)="removeItem(item)" [type]="'normal'">
                {{item | appStringify: optionsDirective()?.stringify()!}}
            </app-tag>
            }
        </div>
        }
        <ng-icon name="matExpandMore" class="absolute right-2 text-2xl"></ng-icon>
        @if(dropdownOpen()){
        <div @popInOut class="w-full absolute top-0 left-0 shadow-xl cursor-pointer origin-top z-10 ease-in-out mt-14">
            <ng-content select="[appOptions]"></ng-content>
            <ng-content select="app-data-list-wrapper"></ng-content>
        </div>
        }
    </div>
    <ng-content select="app-error"></ng-content>

</div>
<!-- <div *ngIf="dropdownOpen()" (click)="toggleDropdown($event)"
    class="flex w-screen h-screen bg-red-300 opacity-25 absolute top-0 right-0 z-50 overlay"></div> -->