::ng-deep .blog-content {
    td {
        padding: 10px 10px;
    }
}

@media (max-width: 768px) {
    ::ng-deep .blog-content {
        table {
            display: block; /* Turn the table into a block to wrap the rows */
        }

        table tr {
            display: flex;
            flex-direction: column; /* Stack table rows vertically */
        }

        table td,
        table th {
            display: block; /* Make table cells behave like blocks */
            width: 100%; /* Ensure each cell takes up the full width */
        }
        td {
            padding: 0px;
        }
    }
}
