@if (blogDetail()) {
<div class="flex flex-col gap-12">
    <div class="flex flex-col items-center justify-center text-white bg-cover bg-center min-h-52 gap-2"
        style.background-image="linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{blogDetail()!.thumbnail}})">
        <div class="flex flex-row gap-2 text-base lg:text-lg">
            @for (category of blogDetail()!.categories; track $index; let last = $last) {
            <button>{{category.viName}}
                @if (!last) {
                <span>,</span>
                }
            </button>
            }
        </div>
        <div class="text-xl lg:text-3xl text-center">{{blogDetail()!.title}}</div>
        <div class=" w-10 border-b-2 border-white"></div>
    </div>

    <div class="flex flex-col gap-8 container px-8 mx-auto text-justify blog-content"
        [innerHTML]="blogDetail()!.content"></div>
</div>
}