<div class="flex flex-col gap-8 items-center pt-8">
    <h1 class="px-2 items-center">Hướng dẫn cách đó size nhẫn</h1>
    <div class="flex flex-col lg:flex-row w-full px-4  gap-6">
        <h4 class="w-full lg:w-1/4">Cách đó size nhẫn</h4>
        <div class="w-full lg:2-3/4">
            <ul
                class="w-full list-inside list-decimal text-lg text-branch font-bold flex flex-col gap-4 *:border-b *:p-6">
                <li>
                    Cắt một dải giấy nhỏ rộng khoảng 5mm.
                    Bạn lưu ý đừng cắt quá to bởi thường khi kích thước giấy rộng thì kết quả đo sẽ to hơn kết quả thực
                    tế.</li>
                <li>Quấn càng chặt càng tốt bạn nhé, như vậy size sẽ chính xác hơn do bề mặt kim loại trơn không như
                    giấy nên đeo sẽ dễ hơn</li>
                <li>Đo đoạn giấy đã đánh dấu bằng thước kẻ. Sau đó check bảng size ở dưới để biết size chính xác của
                    mình nha</li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col w-full items-center">
        <div class="flex w-full border-b border-branch py-10"></div>
        <div class="flex flex-row items-center -translate-y-1/2 bg-white">
            <div class="border px-4 py-2 border-branch  flex text-lg text-branch font-bold">
                CÁCH ĐO CHU VI TAY
            </div>
        </div>
    </div>

    <div class="w-full aspect-video">
        <iframe width="100%" height="100%" [src]="safeUrl" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>

    <div class="flex flex-col w-full items-center">
        <div class="flex w-full border-b border-branch py-10"></div>
        <div class="flex flex-row items-center -translate-y-1/2 bg-white">
            <div class="border px-4 py-2 border-branch  flex text-lg text-branch font-bold">
                ĐO SIZE BẰNG NHẪN
            </div>
        </div>
    </div>
    <div class="w-full">
        <img src="assets/size-guide/size-tay.png" class="w-full" alt="">
    </div>

    <div class="flex h-20"></div>
</div>