<div class="menu bg-white px-2 rounded-md flex flex-col shadow-lg max-h-80 overflow-y-auto overflow-x-hidden flex-nowrap "
    appOptions [stringify]="stringify()">
    @if (enableSearch()) {

    <div class="mb-4 sticky top-0 pb-2 bg-white">
        <app-input (click)="$event.stopPropagation()" class="w-full" [formControl]="searchInputControl"></app-input>
    </div>
    }

    <div class="group btn btn-ghost btn-md text-left flex flex-row items-center justify-between active flex-nowrap"
        [value]="null" appOption>
        <div class="">--- Chọn ---</div>
    </div> @for (item of data(); track $index) {

    <div class="group btn btn-ghost btn-md text-left flex flex-row items-center justify-between active flex-nowrap"
        [value]="item" appOption>
        <ng-container
            *ngTemplateOutlet="displayOptionTemplate() ?? defaultDisplayTemplate; context: { $implicit: item }"></ng-container>
        <ng-icon class="group-[.is-selected]:visible invisible text-lg text-primary" name="matCheck"></ng-icon>
    </div>
    }

</div>

<ng-template #defaultDisplayTemplate let-item>{{item | json}}</ng-template>