<div class="flex flex-col">
    @for (item of materials(); track $index; let even = $even) {
    <div class="flex flex-col items-center" [ngClass]="even ? 'lg:flex-row':'lg:flex-row-reverse'">
        <img [src]="item.image" class="w-full lg:w-1/2" alt="">
        <div class="w-full lg:w-1/2 p-8 flex flex-col items-center text-branch gap-2">
            <h4 class="text-center">{{item.title}}</h4>
            <div class="flex flex-col items-center gap-1">
                @for (des of item.des; track $index) {
                <p class=" text-branch text-justify">{{des}}</p>
                }
            </div>
        </div>
    </div>
    }

</div>