<div class="flex flex-col text-base w-full gap-8 text-justify">
    <!-- Safe area -->
    <div class="flex h-10"></div>
    <!-- Breadcrumb section -->
    <div class="flex flex-row justify-start w-full px-4 gap-2 flex-wrap border-b border-gray-200 pb-10">
        <div class="">Trang chủ</div>
        <div class="">/</div>
        <div class="">Về chúng tôi</div>
    </div>

    <div class="head-section flex flex-col gap-8 py-8 px-4">
        <div class="w-full max-w-md flex justify-end">
            <h4 class="text-branch">Crownhanoi</h4>
        </div>
        <div class="flex flex-col gap-6">
            <span>“Khi một người bản xứ hỏi Cortes tại sao người Tây Ban Nha lại đam mê vàng tới vậy, vị tướng trả lời:
                Tôi
                và những người bạn đồng hành bị một căn bệnh ở tim, mà chỉ có vàng mới có thể chữa khỏi được.” Còn đối
                với
                Crownhanoi, thì liều thuốc chính là những món đồ trang sức nhỏ xinh lấp lánh, tinh tế đến từng chi tiết.
                Vàng đối với chúng mình không hẳn là một thứ tài sản thanh khoản để trao đổi, mà là một nguyên liệu để
                tạo
                nên những món đồ trang sức ý nghĩa có thể đồng hành cùng chủ nhân của nó mãi mãi.</span>
            <span>Crownhanoi – thương hiệu trang sức thiết kế tại Việt Nam – nơi những món đồ trang sức của bạn được
                thiết
                kế, trau chuốt và chế tác ngay tại studio của chúng mình.</span>
        </div>
        <img src="assets/about-us/about_us_1.jpg" class="w-full max-h-[60vh] object-cover object-center" alt="">
    </div>
    <div class="content-section flex flex-col gap-8 w-full max-w-5xl py-8 px-4 mx-auto">
        <h4>Crown</h4>
        <img src="assets/about-us/about_us_2.jpg" alt="" class="w-full max-h-[60vh] object-cover object-center">
        <div class="content flex flex-col gap-6">
            <p>Crown tin rằng món đồ trang sức đẹp nhất, những cặp nhẫn cưới vượt thời gian tự bản thân chúng mang trên
                mình một câu chuyện. Dù phong cách của bạn là dịu dàng, cổ điển hay nổi loạn, dù câu chuyện có thăng
                trầm, thì những món đồ trang sức, những chiếc nhẫn cầu hôn tượng trưng cho những mối quan hệ đẹp, những
                kí ức không thể quên một cách chân thật và đơn thuần nhất. Vì vậy mà Crown đã đầu tư rất nhiều thời gian
                tìm hiểu, thử nghiệm, trau chuốt trong từng công đoạn. Thiết kế càng cổ điển, đơn giản, thì mỗi chi tiết
                nhỏ càng đóng vai trò quan trọng.</p>
            <p>Ngoài ra nếu bạn theo dõi Crown trên facebook và instagram, chắc hẳn bạn nhận thấy “nhà Crown” luôn có
                “đặc sản” mới: những chi tiết độc đáo đặc trưng như bề mặt đánh nhám, pattern độc bản, dấu vân tay,
                những thiết kế nhẫn ghép đầy ngụ ý để mang lại cho bạn một món đồ trang sức vượt thời gian nhưng lại
                khác biệt.</p>
            <p>Từ những nguyên liệu được tuyển chọn nghiêm ngặt nhất, cùng với những nghệ nhân lành nghề giỏi nhất làm
                việc ngay tại studio của Crown tại Hà Nội, hàng ngày chúng mình muốn mang lại cho khách hàng những sản
                phẩm đẹp, tinh tế, sống mãi cùng thời gian.</p>
        </div>
    </div>
    <div class="w-full">
        <img src="assets/about-us/about_us_3.jpg" alt="" class="w-full max-h-[60vh] object-cover object-center">
    </div>
    <div class="w-full max-w-lg -translate-y-1/3 bg-white flex flex-col p-8 items-center mx-auto gap-4">
        <h4 class="text-center">Chất bất chấp thời gian</h4>
        <p class="text-center">Không biết bạn có từng lơ đễnh nghĩ một khi mình đã già, mình sẽ có “một gia tài” trang
            sức để lại cho các
            cháu và chúng nó sẽ thật tự hào “bà nhà mình thật “truất”.</p>
    </div>
    <div class="content-section flex flex-col gap-8 w-full max-w-5xl py-8 px-4 mx-auto">
        <img src="assets/about-us/about_us_4.jpg" alt="" class="w-full max-h-[60vh] object-cover object-center">

        <div class="flex flex-col items-center gap-4">
            <h4 class="text-center">Nguyên liệu
            </h4>
            <p class="text-center">Ở Crownhanoi, nguyên liệu được lựa chọn từ những nguồn tin cậy và có chất lượng cao
                trong nước hoặc nhập khẩu để đảm bảo tính an toàn đối với ngưới sử dụng cũng như thẩm mĩ đối với từng
                thiết kế.
            </p>
        </div>
        <img src="assets/about-us/about_us_5.jpg" alt="" class="w-full object-cover object-center">

    </div>
</div>