<div class="form-control w-full flex flex-col">
    @if (label()) {
    <div class="flex flex-row items-center justify-between">
        <div class="label">
            <span class="label-text">{{label()}}</span>
        </div>
        <ng-content select="[topRight]"></ng-content>
    </div>
    }
    <div class="relative flex flex-row items-center">

        <label [ngClass]="{'input-error': isError}"
            class="input input-bordered w-full input-sm h-10 rounded-md flex flex-row items-center gap-2 hover:border-primary transition-colors duration-100 pr-0 overflow-hidden">
            <div class=" flex h-fit">
                <ng-content select=[prefix]></ng-content>
            </div>
            <input [disabled]="isDisabled" [appCurrencyMask]="mask() ==='currency'" [appSlugMask]="mask() ==='slug'"
                [autofocus]="autofocus()" [readOnly]="readOnly()" [(ngModel)]="internalValue"
                (input)="onInputChange($event)" [type]="type()" [placeholder]="placeholder()" class="w-full"
                [id]="id" />
            <div class="flex h-full items-center">
                <ng-content select=[surfix]></ng-content>
            </div>
        </label>

    </div>
    <div class="h-1">
        <ng-content select="app-error"></ng-content>
    </div>

</div>