<div class="px-8 py-10 text-base">
    <div id="content" role="main" class="content-area">
        <h2 style="text-align: center;"><span style="font-family: Nunito; font-size: 100%;">CHÍNH SÁCH BẢO HÀNH</span>
        </h2>
        <div class="row" id="row-561847039">
            <div id="col-1821092080" class="col small-12 large-12">
                <div class="col-inner">
                    <section class="section" id="section_940105981">
                        <div class="bg section-bg fill bg-fill bg-loaded">
                        </div>
                        <div class="section-content relative">
                            <p style="text-align: center;"><span
                                    style="font-family: 'Josefin Sans'; font-size: 120%;"><b>ĐỐI VỚI SẢN PHẨM VÀNG
                                        10K/14K/18K/PLATINUM</b></span></p>
                            <h3>&nbsp;</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Nội
                                                    dung</b></span></td>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Chi
                                                    phí</b></span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Bảo
                                                hành đánh sáng trọn đời sản phẩm</span>
                                            <p></p>
                                            <p><span
                                                    style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Hàn
                                                    móc khóa đối với dây chuyền, hàn họng đối với mặt charm</span></p>
                                        </td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Miễn
                                                phí</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Thay
                                                đổi kích thước nhẫn (thường từ 1-2 size) nếu thiết kế cụ thể của nhẫn
                                                cho phép</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Miễn
                                                        phí lần đầu (trong vòng 5 ngày nhận sản phẩm và sản phẩm chưa
                                                        qua sử dụng)</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Từ
                                                        lần 2: 100.000 VNĐ</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Làm
                                                lại nhẫn mới do cần thay đổi kích thước nhẫn mà thiết kế nhẫn không cho
                                                phép – chỉ áp dụng đối với sản phẩm chưa qua sử dụng trong vòng 5 ngày
                                                kể từ ngày nhận sản phẩm</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">20%
                                                giá trị sản phẩm tại thời điểm bảo hành</span>
                                            <p></p>
                                            <p><span
                                                    style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">(Với
                                                    sản phẩm đã qua sử dụng và/ hoặc vượt quá 5 ngày, phí áp dụng như
                                                    quy định tại mục II – điểm 3)</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><span
                                                    style="font-weight: 400;">Rơi đá pha lê do lỗi kĩ thuật
                                                    (</span><b>KHÔNG</b><span style="font-weight: 400;"> do lỗi người sử
                                                    dụng, nhẫn còn nguyên vẹn, không có hiện tượng bị móp, méo, biến
                                                    dạng, gãy chấu do tác động vật lý)</span></span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Miễn
                                                        phí lắp đá 01 năm kể từ ngày nhận sản phẩm</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">100.000
                                                        VND/ 1 lần sau 1 năm</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Rơi
                                                đá pha lê do lỗi người sử dụng (nhẫn bị móp méo, biến dạng, gãy chấu do
                                                tác động vật lý)</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">100.000
                                                VND/ lần bảo hành đối với sản phẩm có thể phục hồi (Với sản phẩm không
                                                thể phục hồi, phí áp dụng như quy định tại mục II – điểm 3)</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Cắt
                                                ngắn chiều dài vòng cổ, lắc chân, lắc tay</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Miễn
                                                        phí lần đầu</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Từ
                                                        lần 2: 100.000 VNĐ</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Nối
                                                dài thêm chiều dài vòng cổ, lắc tay, lắc chân nếu thiết kế của dây cho
                                                phép</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Lần
                                                        đầu: Giá phần dây nối dài</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Từ
                                                        lần 2: 100.000 VNĐ + giá phần dây nối dài</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Nối
                                                dây nếu thiết kế của dây cho phép</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">100.000
                                                VNĐ/ 1 lần</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Khắc
                                                laser</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">100.000
                                                        VNĐ/ 1 lần đối với chữ, số, kí tự đơn giản</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">200.000
                                                        VNĐ/ 1 lần đối với vân tay hay logo kí tự đặc biệt</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Gỡ
                                                rối dây</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">60.000
                                                VND/ 1 lần</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Thay
                                                chốt khóa cơ bản</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">200.000
                                                VND/ 1 chiếc</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Thay
                                                thế chốt khuyên bị mất</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Giá
                                                chốt khuyên với ưu đãi 10% tại thời điểm bảo hành (áp dụng cho lần
                                                đầu)</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Thay
                                                chuôi khuyên tai do cong, gãy, biến dạng</span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">100.000
                                                VNĐ/1 chiếc</span></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Đối
                                                với các sản phẩm có chi tiết đính kèm (như các loại nhẫn rơi) bị rơi,
                                                gãy, mất, cần thay mới<span class="JsGRdQ">&nbsp;hoặc phục hồi nếu thiết
                                                    kế sản phẩm cho phép</span></span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Giá
                                                của chi tiết đó với ưu đãi 5% tại thời điểm bảo hành (áp dụng cho lần
                                                đầu)</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>&nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Đối với sản phẩm gắn đá
                                        tự nhiên / kim cương / moissanite / ngọc trai (áp dụng cho lần đầu)</b></span>
                            </p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Kim
                                                    cương/</b></span>
                                            <p></p>
                                            <p><span
                                                    style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Moissainite</b></span>
                                            </p>
                                        </td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Trong
                                                trường hợp kim cương/moissanite bị vỡ, xước, mất, Crown sẽ hỗ trợ thay
                                                thế viên kim cương/moissanite tương tự (nếu có) với mức giá ưu đãi 5% so
                                                với giá niêm yết tại thời điểm bảo hành.</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Ngọc
                                                    trai</b></span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Trong
                                                trường hợp ngọc trai bị mòn, xước lớp xà cừ, bị vỡ hay mất, Crown sẽ hỗ
                                                trợ thay thế hạt ngọc trai tương tự (nếu có) với mức giá ưu đãi 10% so
                                                với giá niêm yết tại thời điểm bảo hành.</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>Đá tự
                                                    nhiên</b></span></td>
                                        <td><span
                                                style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Do
                                                tính chất đặc thù của các loại đá tự nhiên (ví dụ như độ cứng, phản ứng
                                                với nhiệt độ làm thay đổi màu sắc và độ trong của đá), Crown không bảo
                                                hành đối với các loại đá tự nhiên. Trong các trường hợp, sản phẩm có gắn
                                                đá tự nhiên bị rơi, vỡ, mờ đá, mất đá do quá trình sử dụng hay do tiếp
                                                xúc với nhiệt độ bất thường, Crown sẽ hỗ trợ thay thế viên đá tương tự
                                                (nếu có) với mức giá ưu đãi 10% so với giá niêm yết tại thời điểm bảo
                                                hành.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>II. Crown có quyền từ chối
                                        bảo hành đối với các trường hợp sau:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Đối với
                                        các sản phẩm đã được sửa chữa, can thiệp tại nơi khác.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Đối với
                                        các sản phẩm/ thành phần của sản phẩm chế tác từ dây vải, dây dù.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Đối với
                                        sản phẩm nhẫn, mặt vòng, khuyên tai không thể phục hồi do quá trình sử dụng bao
                                        gồm nhưng không hạn chế các trường hợp thay đổi size nhẫn mà thiết kế không cho
                                        phép, nhẫn bị đứt, gãy, móp méo, biến dạng. Crown hỗ trợ bạn làm lại chiếc mới
                                        và thu lại chiếc cũ với giá trị 50% sản phẩm cũ. Chính sách này không áp dụng
                                        cho các loại dây sợi. Lưu ý chính sách thu lại chỉ áp dụng khi khách hàng làm
                                        lại chiếc mới có giá trị bằng hoặc cao hơn sản phẩm cũ.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Đối với
                                        các sản phẩm vòng cổ, lắc tay, lắc chân hư hỏng do quá trình sử dụng không đúng
                                        cách, do tác động vật lý dẫn đến việc dây bị gião/giãn. Trong trường hợp này,
                                        Crown hỗ trợ khách hàng mua sợi dây mới với giá ưu đãi 10% giá tại thời điểm bảo
                                        hành.</span></li>
                            </ul>
                            <p><span style="font-family: 'Josefin Sans'; font-size: 100%;"><b>III. Các lưu ý
                                        khác:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Hiện
                                        nay, Crown không có chính sách thu mua lại sản phẩm. Các sản phẩm của Crown đủ
                                        tiêu chuẩn và hàm lượng vàng như đã cam kết để khách hàng có thể bán lại/trao
                                        đổi tại các cơ sở kinh doanh vàng được cấp phép trên toàn quốc. Tuy nhiên do đặc
                                        thù sản phẩm trang sức thiết kế không phù hợp để mua đầu tư, hay mua để bán lại,
                                        Quý khách hàng vui lòng xem xét kĩ lưỡng trước khi đưa ra quyết định mua
                                        hàng.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-family: 'Josefin Sans'; font-size: 100%;"><span
                                            style="font-weight: 400;">Crown có quyền thay đổi chính sách bảo hành, mọi
                                            thay đổi sẽ được thông báo trên website: </span><a
                                            href="https://crownhanoi.com/chinh-sach-bao-hanh/"><span
                                                style="font-weight: 400;">https://crownhanoi.com/chinh-sach-bao-hanh/</span></a><span
                                            style="font-weight: 400;"> 7 ngày trước ngày chính thức áp
                                            dụng.</span></span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Trong
                                        quá trình bảo hành sản phẩm bao gồm nhưng không giới hạn các trường hợp đánh
                                        sáng, xóa chữ khắc, sửa cỡ nhẫn, trọng lượng vàng trong sản phẩm có thể thay
                                        đổi. Crown không chịu trách nhiệm hoàn lại hay đền bù bất cứ một khoản phí, hay
                                        nguyên liệu nào tới khách hàng.</span></li>
                                <li><span style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Quý
                                        khách hàng vui lòng thanh toán phí vận chuyển hai chiều trong các trường hợp bảo
                                        hành không do lỗi kĩ thuật.</span></li>
                            </ul>
                            <p><b style="font-family: 'Josefin Sans'; font-size: 100%;">Hướng dẫn sử dụng sản phẩm:</b>
                            </p>
                            <p><span style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Để sản phẩm
                                    được sáng màu lâu, bền đẹp theo thời gian, Crown khuyến nghị khách hàng giữ gìn sản
                                    phẩm như hướng dẫn sau, đặc biệt với các sản phẩm có thiết kế mỏng (như các nhẫn
                                    thân skinny, các mẫu dây mảnh và các sản phẩm có chế tác đá tự nhiên..)</span></p>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Tránh
                                        tiếp xúc sản phẩm trực tiếp với chất tẩy rửa, mỹ phẩm (kem dưỡng da, kem chống
                                        nắng, nước hoa, các loại mỹ phẩm hóa chất khác…)</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Không
                                        mang tới tiệm làm tóc, tiệm làm móng, hoặc những nơi có nhiều hóa chất độc
                                        hại</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Tháo sản
                                        phẩm ra trước khi đi tắm, nấu ăn, hoạt động nặng (đi bơi, chơi thể thao, tập
                                        gym, bê vác vật nặng, khi điều khiển xe máy…)&nbsp;</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans'; font-size: 100%;">Sau khi
                                        sử dụng sản phẩm, rửa sản phẩm với nước sau đó lau khô bằng khăn mềm, cất vào
                                        túi kín khí và để nơi khô ráo.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-family: 'Josefin Sans'; font-size: 100%;"><span
                                            style="font-weight: 400;">Cách vệ sinh sản phẩm: </span><span
                                            style="font-weight: 400;">Đổ một lượng nhỏ xà phòng dịu nhẹ vào nước ấm và
                                            sử dụng bàn chải đánh răng mềm để làm sạch đồ trang sức.. Nếu bụi bẩn khó
                                            loại bỏ, hãy ngâm đồ trang sức vào dung dịch trên khoảng 3-5 phút rồi làm
                                            sạch như hướng dẫn. <span class="JsGRdQ">(Lưu ý: Không áp dụng đối với các
                                                sản phẩm gắn ngọc trai và các loại đá tự nhiên có độ cứng thấp trên
                                                thang Mohs).</span></span></span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-family: 'Josefin Sans'; font-size: 100%;"><span
                                            style="font-weight: 400;">Cách cất giữ</span><span
                                            style="font-weight: 400;">: Khi cất giữ đồ trang sức, tránh ánh nắng mặt
                                            trời và nhiệt độ trực tiếp, cất trong túi kín khí (như túi zip nhựa làm bằng
                                            polyetylen) chống xỉn màu. Không sử dụng túi nhựa polyvinyl, chẳng hạn như
                                            túi rác hay hộp cao su, vì chúng có chứa các hợp chất lưu huỳnh sẽ làm cho
                                            trang sức bị xỉn màu nhanh hơn. Không lưu trữ đồ trang sức của bạn trong
                                            phòng tắm, bếp hoặc bất kỳ nơi ẩm ướt&nbsp;</span></span></li>
                            </ul>

                        </div>
                        <style>
                            #section_940105981 {
                                padding-top: 30px;
                                padding-bottom: 30px;
                            }

                            #section_940105981 .ux-shape-divider--top svg {
                                height: 150px;
                                --divider-top-width: 100%;
                            }

                            #section_940105981 .ux-shape-divider--bottom svg {
                                height: 150px;
                                --divider-width: 100%;
                            }
                        </style>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>