<div class="flex flex-col justify-center">
    <div class="h-[100px] flex"></div>
    <div class="px-4 pt-0 pb-8 text-center flex flex-col gap-4">
        <h2 class="text-3xl font-normal text-center text-[#826b57] font-['Josefin Sans'] sans-serif ">Liên hệ với
            Crownhanoi</h2>
        <p class="mb-5 font-normal text-base font-['Josefin Sans'] sans-serif">Cách nhanh nhất để liên hệ với chúng tôi
            là ghé thăm một trong các cửa hàng của chúng tôi hoặc qua facebook và instagram.</p>
    </div>
    <div class="flex flex-col gap-8 pb-7">
        <div class="flex flex-row justify-center gap-5 items-center">
            <div class="flex border-b-2 h-4 w-40 -translate-y-[8px] border-[#826b57] opacity-10"></div>
            <h3 class="text-sm font-normal text-center text-[#826b57] font-['Josefin Sans'] sans-serif leading-normal">
                CỬA HÀNG</h3>
            <div class="flex border-b-2 h-4 w-40 -translate-y-[8px] border-[#826b57] opacity-10"></div>
        </div>
        <div class="flex flex-col lg:flex-row gap-4 w-full lg:w-[1300px] mx-auto">
            @for (item of contacts; track $index) {

            <div class="flex flex-1">
                <div class="flex flex-col w-full">
                    <img class="h-[227px] w-full object-cover object-center" [src]="item.src">
                    <div class="flex flex-col justify-center items-center gap-1 py-5">
                        <p class="font-normal text-xs font-['Josefin Sans'] sans-serif text-[#826b57]">{{item.provine}}
                        </p>
                        <h3
                            class="text-lg font-medium text-center text-[#826b57] font-['Josefin Sans'] sans-serif leading-normal">
                            {{item.district}}</h3>
                        <a
                            class="font-normal text-sm font-['Josefin Sans'] sans-serif text-[#826b57]">{{item.phone}}</a>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="px-4 pb-7">
            <div class=" flex flex-row gap-1 justify-center items-center">
                <a class="h-8 w-8">
                    <img src="/assets/facebook.png">
                </a>
                <a class="h-8 w-8">
                    <img src="/assets/instagram.png">
                </a>
                <a class="h-8 w-8">
                    <img src="/assets/internet.png">
                </a>
                <a class="h-8 w-8">
                    <img src="/assets/whatsapp.png">
                </a>

            </div>
            <div class="flex h-12">
            </div>
        </div>
    </div>
</div>