<div class="flex flex-col px-4 py-10 text-branch gap-8">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
        <div class="col-span-2 flex flex-col gap-6 p-6 items-center justify-center">
            <h2>Ghé thăm crown </h2>
            <p>Nếu bạn ở gần Crown, hãy tới thăm Crown để nhìn trực tiếp sản phẩm và/hoặc đo size tay một cách chính xác
                nhất. Còn nếu bạn ở xa Crown đừng ngại liên lạc với Crown để được hỗ trợ nhé.
            </p>
            <p>Thời gian hoạt động: 9:00 – 21:00 từ thứ 2 đến Chủ nhật
            </p>
        </div>
        @for (store of highLightStores(); track $index) {
        <div class="col-span-2 flex flex-col gap-2 text-branch font-bold">
            <img class="w-full object-cover object-center" [src]="store.thumbnail" alt="{{store.name}}">
            <p class="">{{store.name}} - {{store.address}}</p>
            <p>{{store.phone}}</p>
            <div class="relative flex flex-col items-center w-fit cursor-pointer">
                <h5 class="">Ghé thăm {{store.name}}</h5>
                <div class="flex absolute bottom-0 border-b h-1 w-1/2 border-branch"></div>
            </div>
        </div>
        }
        @for (store of otherStores(); track $index) {
        <div class="col-span-3 w-full flex flex-col gap-2 text-branch font-bold">
            <img class="w-full aspect-[2/1] object-cover object-center" [src]="store.thumbnail" alt="{{store.name}}">
            <p class="">{{store.name}} - {{store.address}}</p>
            <p>{{store.phone}}</p>
        </div>
        }
    </div>

</div>