.footer,
* {
    font-family: 'Josefin Sans';
}

.dropdown-btn::before {
    top: 0;
    transform: translateY(-100%);
    content: '';
    left: 0;
    margin-left: 8px;
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid transparent;
    border-width: 11px;
    border-bottom-color: #ddd;
}

.dropdown-btn::after {
    content: '';
    top: 0;
    margin-left: 11px;
    transform: translateY(-100%);
    left: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid transparent;
    border-width: 8px;
    border-color: transparent transparent #fff;
}
