<div class="flex flex-col">
    <!--header-->
    <div class=" md: h-24 flex items-center sticky top-0 left-0 right-0 z-50 bg-white border-b-2 border-gray-100">
        <div class="w-full relative">
            <!--header-->
            <div class=" justify-end md:justify-start px-4 flex flex-row items-center py-5">
                <!-- menu -->


                <div class=" w-1/4 drawer md:hidden">
                    <input [(ngModel)]="sideBarOpen" id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <!-- Page content here -->

                        <label for="my-drawer" class="drawer-button">
                            <div class=" ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                            </div>
                        </label>
                    </div>
                    <div class="drawer-side z-50">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="bg-base-200 text-base-content min-h-full w-80 py-12 text-sm">
                            <!-- Sidebar content here -->
                            <div class="collapse collapse-arrow rounded-none hover:bg-gray-200">
                                <input type="checkbox" class="w-full peer" />
                                <button type="button"
                                    class="w-full border-b border-gray-200 collapse-title text-start peer-checked:bg-gray-200 text-base font-bold text-gray-600">
                                    Cửa hàng
                                </button>
                                <div class="collapse-content flex flex-col bg-gray-200 ">

                                    <ul tabindex="0"
                                        class="mt-1 rounded-none gap-2 w-full px-2 relative text-gray-500 text-base ">
                                        @for (item of list(); track $index) {
                                        <li (click)="closeSideBar()" routerLink="{{item.slug}}"
                                            class="py-2 cursor-pointer hover:text-gray-600">
                                            <a class="whitespace-nowrap overflow-hidden">{{item.name}}</a>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse collapse-arrow rounded-none hover:bg-gray-200">
                                <input type="checkbox" class="w-full peer" />
                                <button type="button"
                                    class="w-full border-b border-gray-200 collapse-title text-start peer-checked:bg-gray-200 text-base font-bold text-gray-600">
                                    Về chúng tôi
                                </button>
                                <div class="collapse-content flex flex-col bg-gray-200 ">

                                    <ul tabindex="0"
                                        class="mt-1 rounded-none gap-2 w-full px-2 relative text-gray-500 text-base ">
                                        <li (click)="closeSideBar()" routerLink="/about-us"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Về
                                                chúng tôi</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/warranty"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Chính sách bảo hành</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/membership"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Chính sách khách hàng thân
                                                thiết</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/ring-size-guide"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Hướng đẫn đo size nhẫn</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/terms-and-conditions"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Chính sách và điều
                                                kiện</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/material"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Chất liệu</a>
                                        </li>
                                        <li (click)="closeSideBar()" routerLink="/contact"
                                            class="py-2 cursor-pointer hover:text-gray-600"><a
                                                class="whitespace-nowrap overflow-hidden">Liên hệ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button (click)="closeSideBar()" routerLink="/stores" type="button"
                                class=" hover:bg-gray-200 w-full border-b border-gray-200 collapse-title text-start peer-checked:bg-gray-200 text-base font-bold text-gray-600">
                                Cửa hàng
                            </button>
                            <button (click)="closeSideBar()" routerLink="/blog" type="button"
                                class="hover:bg-gray-200 w-full border-b border-gray-200 collapse-title text-start peer-checked:bg-gray-200 text-base font-bold text-gray-600">
                                Tin tức
                            </button>
                        </ul>
                    </div>

                </div>
                <!--logo-->
                <div
                    class="w-1/2 flex flex-row items-center z-20 md:w-3/4 justify-center md:justify-start cursor-pointer">
                    <button type="button" (click)="navigate('/')">
                        <img class="" src="https://crownhanoi.com/wp-content/uploads/2020/08/logo-chu-small-1.png"
                            alt="Website logo" />
                    </button>
                    <!--link-->
                    <div class="hidden md:flex flex-row items-center ml-8">
                        <div class="w-full">
                            <ul class="md:flex md:bg-transparent md:h-auto md:flex-row md:static md:space-x-4">
                                <li
                                    class="m-12 md:m-0 md:flex-none md:text-sm md:text-gray-500 md:hover:text-blue-500 font-bold text-sm tracking-wide">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hover:text-blue-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </li>
                                <li
                                    class="m-12 md:m-0 md:flex-none md:text-sm md:text-gray-500  font-bold text-sm tracking-wide flex items-center">
                                    <div class="dropdown dropdown-hover" #shop>
                                        <div class="flex items-center" tabindex="0" role="button">
                                            <span>SHOP</span>
                                            <ng-icon class="text-lg" name="matKeyboardArrowDown"></ng-icon>
                                        </div>
                                        <ul tabindex="0"
                                            class="dropdown-content mt-1 rounded-none menu bg-base-100 z-[1] w-max px-2 py-4 shadow border-2 border-gray-200 dropdown-btn relative">
                                            @for (item of list(); track $index) {
                                            <li><a (click)="closeDropdown(shop)" routerLink="{{item.slug}}"
                                                    class="whitespace-nowrap overflow-hidden">{{item.name}}</a>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li
                                    class="m-12 md:m-0 md:flex-none md:text-sm md:text-gray-500  font-bold text-sm tracking-wide flex items-center">
                                    <div class="dropdown dropdown-hover" #about>
                                        <div class="flex items-center" tabindex="0" role="button">
                                            <span>ABOUT</span>
                                            <ng-icon class="text-lg" name="matKeyboardArrowDown"></ng-icon>
                                        </div>
                                        <ul tabindex="0"
                                            class="dropdown-content mt-1 rounded-none menu bg-base-100 z-[1] w-max px-2 py-4 shadow border-2 border-gray-200 dropdown-btn relative">
                                            <li><a (click)="closeDropdown(about)" routerLink="/about-us"
                                                    class="whitespace-nowrap overflow-hidden">Về
                                                    chúng tôi</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/warranty"
                                                    class="whitespace-nowrap overflow-hidden">Chính sách bảo hành</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/membership"
                                                    class="whitespace-nowrap overflow-hidden">Chính sách khách hàng thân
                                                    thiết</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/ring-size-guide"
                                                    class="whitespace-nowrap overflow-hidden">Hướng đẫn đo size nhẫn</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/terms-and-conditions"
                                                    class="whitespace-nowrap overflow-hidden">Chính sách và điều
                                                    kiện</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/material"
                                                    class="whitespace-nowrap overflow-hidden">Chất liệu</a>
                                            </li>
                                            <li><a (click)="closeDropdown(about)" routerLink="/contact"
                                                    class="whitespace-nowrap overflow-hidden">Liên hệ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li (click)="navigate('/stores')"
                                    class="m-12 md:m-0 md:flex-none md:text-sm md:text-gray-500 md:hover:text-blue-500 font-bold text-sm tracking-wide">
                                    <a></a>STORES
                                </li>
                                <li (click)="navigate('/blog')"
                                    class="m-12 md:m-0 md:flex-none md:text-sm md:text-gray-500 md:hover:text-blue-500 font-bold text-sm tracking-wide">
                                    <a href="#"></a>BLOG
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!--menu icon-->
                <div class="w-1/4 flex flex-row space-x-4 justify-end items-center">
                    <div class="hidden md:flex justify-center items-center">
                        <p
                            class="md:text-gray-500 md:hover:text-blue-500 md: border-r-2 border-inherit pr-4 font-bold text-sm uppercase flex justify-center items-center">
                            <a href="#"></a>Đăng nhập
                        </p>
                    </div>
                    <div class="hidden md:flex justify-center items-center">
                        <p
                            class="md:text-gray-500 md:hover:text-blue-500 font-bold text-sm uppercase flex justify-center items-center">
                            <a href="#"></a>Giỏ hàng
                        </p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-blue-500" fill="currentColor"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <div class="w-full flex flex-col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!--footer-->
    <div class="footer flex flex-col px-16 py-8 bg-[#5b5b5b]">
        <div class="flex flex-row justify-between mx-4 my-2 text-sm w-full">
            <div class="justify-start">
                <div style="color: white">
                    <b class="mt-2">CÔNG TY CỔ PHẦN CROWNHANOI </b>
                    <br /><br />
                    ĐKKD: 0107826399, ngày cấp: 24/05/2017
                    <br />
                    Sở Kế hoạch và đầu tư TP. Hà Nội. <br />
                    Địa chỉ: Nhà số 2, ngách 82/41, phố Nguyễn Phúc Lai, <br />phường Ô
                    Chợ Dừa, quận Đống Đa, Hà Nội, Việt Nam. <br />
                </div>
                <br />
                <div>
                    <a href="#"><img width="180px" src="https://crownhanoi.com/bo_cong_thuong.png" /></a>
                </div>
            </div>
            <div class="justify-end info">
                <b style="color: white" class="opacity-100">THÔNG TIN HỖ TRỢ </b>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/thong-tin-ho-tro/#huong_dan_mua_hang">Hướng dẫn mua hàng</a>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/thong-tin-ho-tro/#huong_dan_do_size_tay">Hướng dẫn đo size tay</a>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/thong-tin-ho-tro/#huong_dan_giai_quyet_khieu_nai">Giải quyết khiếu
                    nại</a>
                <br />
                <a class="text-white opacity-50" href="https://crownhanoi.com/thong-tin-ho-tro/#cau_hoi_thuong_gap">Câu
                    hỏi thường gặp</a>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/thong-tin-ho-tro/#huong_dan_thanh_toan">Hướng dẫn thanh toán</a>
                <br />
                <b style="color: white" class="mt-4">CHÍNH SÁCH </b>
                <br />
                <a class="text-white opacity-50" href="https://crownhanoi.com/chinh-sach/#chinh_sach_bao_hanh">Chính
                    sách bảo hành</a>
                <br />
                <a class="text-white opacity-50" href="https://crownhanoi.com/chinh-sach/#chinh_sach_doi_tra">Chính
                    sách đổi trả</a>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/chinh-sach/#chinh_sach_bao_mat_thanh_toan">Chính sách bảo mật thanh
                    toán</a>
                <br />
                <a class="text-white opacity-50"
                    href="https://crownhanoi.com/chinh-sach/#chinh_sach_chia_se_thong_tin">Chính sách bảo mật</a>
                <br />
                <a class="text-white opacity-50" href="https://crownhanoi.com/chinh-sach/#chinh_sach_giao_hang">Chính
                    sách giao hàng</a>
            </div>
        </div>
    </div>
</div>