<div class="px-8 py-10 text-base">
    <div id="content" role="main" class="content-area">
        <h2 style="text-align: center;"><span style="font-family: Josefin Sans; font-size: 100%;">CHÍNH SÁCH BẢO
                HÀNH</span></h2>
        <section class="section" id="section_1537790626">
            <div class="bg section-bg fill bg-fill bg-loaded">
            </div>
            <div class="section-content relative">
                <div class="row" id="row-602438983">
                    <div id="col-1192962065" class="col small-12 large-12">
                        <div class="col-inner">
                            <p style="text-align: center;"><span
                                    style="font-family: 'Josefin Sans'; font-size: 120%;"><b>ĐỐI VỚI SẢN PHẨM BẠC/MẠ
                                        VÀNG/BỌC VÀNG</b></span></p>
                            <p><span style="font-family: 'Josefin Sans';"><b>Định nghĩa:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><b>Sản phẩm
                                            bạc:</b><span style="font-weight: 400;"> các sản phẩm làm từ bạc 925 (có
                                            92.5% là bạc nguyên chất)</span></span></li>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><b>Sản phẩm mạ
                                            vàng:</b><span style="font-weight: 400;"> các sản phẩm làm từ bạc 925 có mạ
                                            thêm lớp vàng 14k mỏng màu vàng vàng hoặc vàng hồng theo yêu cầu của khách
                                            hàng.</span></span></li>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><b>Sản phẩm
                                            vàng bọc</b><span style="font-weight: 400;">: các sản phẩm có lõi là HỢP KIM
                                            bọc ngoài bằng một lớp vàng 14k dày hơn 100 lần với phương pháp mạ vàng nhằm
                                            tăng tuổi đời cho sản phẩm. Xem chi tiết tại <a
                                                href="https://crownhanoi.com/vang-boc-la-gi/">“Định nghĩa vàng
                                                bọc”</a></span></span></li>
                            </ul>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><strong><span style="font-family: 'Josefin Sans';">Nội dung</span></strong>
                                        </td>
                                        <td><strong><span style="font-family: 'Josefin Sans';">Chi phí</span></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Đánh
                                                sáng</span></td>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Đối với sản
                                                phẩm sử dụng đúng hướng dẫn:</span>
                                            <p></p>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        trong 6 tháng đầu đối với sản phẩm bạc và mạ vàng</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        12 tháng đầu đối với sản phẩm bọc vàng</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Phí
                                                        50.000 VNĐ / 1 lần/ 1 sản phẩm sau thời gian nêu
                                                        trên&nbsp;</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Nối dây nếu
                                                thiết kế của dây cho phép</span></td>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">50.000 VNĐ/ 1
                                                lần</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-family: 'Josefin Sans';"><span
                                                    style="font-weight: 400;">Rơi đá do lỗi kĩ thuật
                                                    (</span><b>KHÔNG</b><span style="font-weight: 400;"> do lỗi người sử
                                                    dụng, nhẫn còn nguyên vẹn, không có hiện tượng bị móp, méo, biến
                                                    dạng, gãy chấu do tác động vật lý)</span></span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        trong vòng 6 tháng đầu</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">80.000
                                                        VNĐ / 1 lần sau 6 tháng</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Rơi đá pha lê
                                                do lỗi người sử dụng (nhẫn bị móp méo, biến dạng, gãy chấu do tác động
                                                vật lý)</span></td>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">100.000 VNĐ / 1
                                                lần</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Thay móc khóa
                                                cơ bản</span></td>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">100.000 VNĐ / 1
                                                lần</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Thay đổi kích
                                                thước nhẫn (thường từ 1-2 size) nếu thiết kế cụ thể của nhẫn cho
                                                phép</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        lần đầu trong 5 ngày nhận sản phẩm và đối với sản phẩm chưa qua
                                                        sử dụng</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">100.000
                                                        VNĐ / 1 lần tiếp theo</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Làm lại nhẫn
                                                mới nếu nhẫn không sửa được size</span></td>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">30% giá trị
                                                nhẫn tại thời điểm bảo hành (chỉ áp dụng trong vòng 5 ngày sau khi nhận
                                                sản phẩm và đối với sản phẩm chưa qua sử dụng)</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Khắc
                                                laser</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">100.000
                                                        VNĐ/1 lần đối với chữ, số, kí tự cơ bản</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">200.000
                                                        VND/1 lần đối với vân tay, logo, kí tự phức tạp</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Xi mới đối với
                                                sản phẩm mạ vàng</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        trong 6 tháng đầu</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">100.000
                                                        VNĐ / 1 lần/ 1 sản phẩm sau 6 tháng</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="font-weight: 400; font-family: 'Josefin Sans';">Xi mới đối với
                                                sản phẩm bọc vàng</span></td>
                                        <td>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">Miễn phí
                                                        trong 12 tháng đầu</span></li>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400; font-family: 'Josefin Sans';">100.000
                                                        VNĐ / 1 lần/ 1 sản phẩm sau 12 tháng</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><span style="font-family: 'Josefin Sans';"><b>Crown có quyền từ chối bảo hành đối với các
                                        trường hợp sau:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Đối với các sản phẩm/
                                        thành phần của sản phẩm chế tác từ dây vải, dây dù.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Đối với các sản phẩm đã
                                        được sửa chữa, can thiệp tại nơi khác.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Đối với sản phẩm nhẫn,
                                        mặt vòng, khuyên tai không thể phục hồi do quá trình sử dụng bao gồm nhưng không
                                        hạn chế các trường hợp nhẫn bị đứt, gãy, móp méo, biến dạng, vòng cổ bị
                                        gião.&nbsp;</span></li>
                            </ul>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Đối với các sản phẩm vòng
                                        cổ, lắc tay, lắc chân hư hỏng do quá trình sử dụng không đúng cách, do tác động
                                        vật lý dẫn đến việc dây bị gião/giãn. Trong trường hợp này, Crown hỗ trợ khách
                                        hàng mua sợi dây mới với giá ưu đãi 10% giá tại thời điểm bảo hành nếu có sản
                                        phẩm thay thế.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Đối với các sản phẩm sử
                                        dụng không theo HDSD.</span></li>
                            </ul>
                            <p><span style="font-family: 'Josefin Sans';"><b>Hướng dẫn sử dụng sản phẩm:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Tránh tiếp xúc sản phẩm
                                        trực tiếp với chất tẩy rửa, mỹ phẩm (kem dưỡng da, kem chống nắng, nước hoa, các
                                        loại mỹ phẩm hóa chất khác…)</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Không mang tới tiệm làm
                                        tóc, tiệm làm móng, hoặc những nơi có nhiều hóa chất độc hại</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Tháo sản phẩm ra trước
                                        khi đi tắm, nấu ăn, hoạt động nặng (đi bơi, chơi thể thao, tập gym, bê vác vật
                                        nặng, khi điều khiển xe máy…)</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Sau khi sử dụng sản phẩm,
                                        rửa sản phẩm với nước sau đó lau khô bằng khăn mềm, cất vào túi kín khí và để
                                        nơi khô ráo</span></li>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><span
                                            style="font-weight: 400;">Cách vệ sinh sản phẩm: </span><span
                                            style="font-weight: 400;">Đổ một lượng nhỏ xà phòng dịu nhẹ vào nước ấm và
                                            sử dụng bàn chải đánh răng mềm để làm sạch đồ trang sức.. Nếu bụi bẩn khó
                                            loại bỏ, hãy ngâm đồ trang sức vào dung dịch trên khoảng 3-5 phút rồi làm
                                            sạch như hướng dẫn. LƯU Ý: Sử dụng bàn chải đánh răng cứng hoặc chà mạnh có
                                            thể làm cho lớp mạ vàng bị phai dần, do đó, điều rất quan trọng là bạn phải
                                            thực hiện quá trình này thật cẩn thận và nhẹ nhàng để tránh lớp mạ/bọc vàng
                                            bị mòn.</span></span></li>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><span
                                            style="font-weight: 400;">Cách cất giữ</span><span
                                            style="font-weight: 400;">: Khi cất giữ đồ trang sức, tránh ánh nắng mặt
                                            trời và nhiệt độ trực tiếp, cất trong túi kín khí (như túi zip nhựa làm bằng
                                            polyetylen) chống xỉn màu. Không sử dụng túi nhựa polyvinyl, chẳng hạn như
                                            túi rác hay hộp cao su, vì chúng có chứa các hợp chất lưu huỳnh sẽ làm cho
                                            trang sức bị xỉn màu nhanh hơn. Không lưu trữ đồ trang sức của bạn trong
                                            phòng tắm, bếp hoặc bất kỳ nơi ẩm ướt khác.</span></span></li>
                            </ul>
                            <p><span style="font-family: 'Josefin Sans';"><b>Các lưu ý khác:</b></span></p>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-family: 'Josefin Sans';"><span
                                            style="font-weight: 400;">Crown có quyền thay đổi chính sách bảo hành, mọi
                                            thay đổi sẽ được thông báo trên website: </span><a
                                            href="https://crownhanoi.com/chinh-sach-bao-hanh/"><span
                                                style="font-weight: 400;">https://crownhanoi.com/chinh-sach-bao-hanh/</span></a><span
                                            style="font-weight: 400;"> 7 ngày trước ngày chính thức áp
                                            dụng.</span></span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Crown không đảm bảo rằng
                                        đồ trang sức mạ vàng và bọc vàng sẽ bền màu mãi mãi. Tất cả các sản phẩm mạ vàng
                                        hay bọc vàng, theo mặc định, sẽ bị mất màu theo thời gian. Tốc độ mất màu sẽ phụ
                                        thuộc vào nhiều biến số từ các sản phẩm hóa học được sử dụng cho chăm sóc da,
                                        mức độ mồ hôi, loại mồ hồi hoặc thậm chí PH da tự nhiên của bạn. Vì lý do này,
                                        điều đặc biệt quan trọng là muốn sản phẩm bền đẹp lâu dài phải chăm sóc đặc biệt
                                        cho đồ trang sức mạ vàng/bọc vàng của bạn.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Trong quá trình bảo hành
                                        sản phẩm bao gồm nhưng không giới hạn các trường hợp đánh sáng, xóa chữ khắc,
                                        sửa cỡ nhẫn, trọng lượng trong sản phẩm có thể thay đổi. Crown không chịu trách
                                        nhiệm hoàn lại hay đền bù bất cứ một khoản phí, hay nguyên liệu nào tới khách
                                        hàng.</span></li>
                                <li style="font-weight: 400;"><span
                                        style="font-weight: 400; font-family: 'Josefin Sans';">Quý khách hàng vui lòng
                                        thanh toán phí vận chuyển hai chiều trong các trường hợp bảo hành không do lỗi
                                        kĩ thuật.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #section_1537790626 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                #section_1537790626 .ux-shape-divider--top svg {
                    height: 150px;
                    --divider-top-width: 100%;
                }

                #section_1537790626 .ux-shape-divider--bottom svg {
                    height: 150px;
                    --divider-width: 100%;
                }
            </style>
        </section>
    </div>
</div>