<div class="pl-2 flex flex-row gap-2 items-center text-sm rounded-md z-10 w-full" [ngClass]="color()">
    <div class=" text-ellipsis overflow-hidden w-full">

        <ng-content></ng-content>
    </div>
    <button type="button" (click)="onClose.emit();$event.stopPropagation()" class="btn btn-xs btn-square btn-ghost">
        <ng-icon name="matClose"></ng-icon>

    </button>
</div>