.item-detail,
* {
    font-family: 'Josefin Sans';
}

.fancy-underline:after {
    content: '';
    color: #008000;
    position: absolute;
    left: 0;
    border-radius: 999px;
    right: 0;
    top: 100%;
    height: 9px;
    image-rendering: -webkit-optimize-contrast;
    background: url(https://crownhanoi.com/wp-content/themes/flatsome/assets/img/underline.png)
        50% top no-repeat;
    background-size: 100% 9px;
}
.fancy-underline {
    position: relative;
}
