@if (productDetail()) {
<div class="flex flex-col px-4 pb-10">
    <!--title-->
    <div class="flex flex-row justify-start  items-center h-16  pt-5">
        <div class="text-gray-400 text-lg space-x-2 w-2/3">
            <a class="" href="/home">CrownHanoi</a>
            <span class=""> >></span>
            <span class="text-gray-400">{{listDetail()?.name}}</span>

        </div>

    </div>

    <!--content-->
    <div class="content min-h-screen flex flex-col mb-28 mt-4">
        <!-- item detail -->
        <div class="flex flex-col lg:flex-row gap-8">
            <!-- images -->
            <div class="flex flex-col space-y-4 w-full lg:w-1/2">
                <!-- active image -->
                <div class="overflow-clip w-full">
                    <img appImageZoomPreview class="w-full" [src]="images()![selectedIndex]">
                </div>
                <div class="flex flex-row gap-2 flex-wrap">
                    @for (item of images(); track $index; let i = $index) {

                    <img (click)="selectImage(i)" [ngClass]="i===selectedIndex?'opacity-100':'opacity-60'"
                        class="w-[24%] hover:opacity-100" [src]="item">
                    }
                </div>
            </div>
            <!-- detail -->
            <div class="item-detail flex flex-col gap-4 w-full lg:w-1/2">
                <!-- item name -->
                <p class="text-[#446084] text-3xl font-medium font-['Josefin_Sans'] sans-serif">
                    {{productDetail()!.name}}</p>
                <!-- price -->
                <p class="text-2xl font-semibold text-gray-500">Từ <span
                        class="font-bold text-black">{{productDetail()!.displayedPrice}}</span></p>
                <div class="flex flex-col gap-2 text-base" [innerHTML]="productDetail()!.description"></div>
                <!-- list of items -->
                @if (productDetail()!.containSubProducts) {


                <div class="flex flex-col">
                    <div class="flex flex-row justify-between items-center border-t border-dashed py-2 h-24">
                        <div class="flex flex-row space-x-2 w-1/2 items-center justify-start h-full">
                            <img class="h-full"
                                src="https://crownhanoi.com/wp-content/uploads/2020/08/08026D47-D329-4504-854C-B6302804B3BA-2-768x768.jpg">
                            <div class="flex flex-col space-y-2 h-full">
                                <div class="flex-1 text-[#446084] text-base">1 × BORDER RING</div>
                                <div class="flex-grow flex flex-col border justify-center p-1">
                                    <div class="flex-1 text-xs">Chất liệu</div>
                                    <div class="flex-grow text-sm font-semibold flex flex-col justify-center">Vàng vàng
                                        14K</div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2 flex justify-end items-center">13.000.000 VND</div>
                    </div>
                    <div class="flex flex-row justify-between items-center border-y border-dashed py-2 h-24">
                        <div class="flex-grow flex flex-row space-x-2 items-center justify-start h-full">
                            <img class="h-full"
                                src="https://crownhanoi.com/wp-content/uploads/2021/07/R035_6_PRONG_SOLITAIRE_PAVE_RING_-768x768.jpg">
                            <div class="flex flex-col space-y-2 h-full">
                                <div class="flex-1 text-[#446084] text-base">1 × 6 PRONG SOLITAIRE PAVE RING</div>
                                <div class="flex flex-row space-x-2 w-full">
                                    <div class="flex-grow flex flex-col border justify-center p-1">
                                        <div class="flex-1 text-xs">Chất liệu</div>
                                        <div class="flex-grow text-sm font-semibold flex flex-col justify-center">Vàng
                                            vàng 14K</div>
                                    </div>
                                    <div class="flex-grow flex flex-col border justify-center p-1">
                                        <div class="flex-1 text-xs">Loại đá</div>
                                        <div class="flex-grow text-sm font-semibold flex flex-col justify-center">Pha lê
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1 flex justify-end items-center">6.440.000 VND</div>
                    </div>
                </div>
                }@else {
                <form [formGroup]="selectionGroup" class="flex flex-col gap-2 font-['Josefin_Sans']">
                    @for (item of productDetail()?.attribute; track $index; let i = $index) {
                    <div class="flex flex-row justify-between items-center *:w-full *:max-w-sm">
                        <p>{{item.viName}}</p>
                        <app-select class="" [formControlName]="item.id!">
                            <app-data-list-wrapper [stringify]="categoryStringify" [displayOptionTemplate]="viName"
                                [data]="productDetail()?.attributeValue![i]">
                                <ng-template #viName let-item>{{item.viName}}</ng-template>
                            </app-data-list-wrapper>
                        </app-select>
                    </div>
                    }
                </form>
                }
                @if (price()>=0) {
                <p class="text-base">Giá gói sản phẩm: <span class="font-bold">{{price() |
                        currency:'VND':'symbol':'1.0-0':'vi'}}</span></p>
                }
                <div class="flex flex-row space-x-4">
                    <div class="flex flex-row space-x-8 border p-3">
                        <div class="">-</div>
                        <div class="">1</div>
                        <div class="">+</div>
                    </div>

                    <button class="border px-4 py-3 bg-[#d26e4b] hover:bg-[#a74927] flex justify-center items-center">
                        <p
                            class="flex justify-center items-center font-bold text-white font-['Josefin_Sans'] tracking-widest">
                            THÊM VÀO GIỎ</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-row">
            <div class="border border-gray-400 w-full lg:w-fit px-4 py-2 border-t-4 border-t-black border-b-white">
                Mô
                tả</div>
            <div class="block w-max border-b border-gray-500 border-opacity-70 flex-grow"></div>
        </div>
        <div class="border lg:border-t-0 border-gray-500 border-opacity-70">
            <div class="flex flex-col gap-2 font-['Josefin_Sans'] p-6 text-base" [innerHTML]="productDetail()?.detail">
            </div>
        </div>
    </div>
</div>
}