<div class="flex flex-col px-4 gap-8 pb-8">
    <div class="bg-center bg-cover h-[calc(100vh-80px)] flex flex-col justify-center lg:justify-end p-10"
        [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/blog/blog-hero.jpg)'">
        <h2 class="text-white text-xl lg:text-5xl">Hiểu hơn về Crown</h2>
    </div>
    <div class="flex flex-col gap-4">
        <p>“Khi một người bản xứ hỏi Cortes tại sao người Tây Ban Nha lại đam mê vàng tới vậy, vị tướng trả lời: Tôi và
            những người bạn đồng hành bị một căn bệnh ở tim, mà chỉ có vàng mới có thể chữa khỏi được.”
        </p>
        <p>Nếu bạn có chia sẻ niềm đam mê vô tận với những thứ nhấp nhánh nhỏ xinh mà có sức hút mãnh liệt tới vậy, thì
            hãy ghé thăm chúng mình.

        </p>
        <p>Blog này là những chuyện trên trời dưới đất xoay quanh những món đồ trang sức, những cô gái của Crown, hay
            đơn giản chỉ là những câu chuyện lơ đễnh vu vơ.

        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (blog of blogList(); track $index) {
        <div (click)="blogOnClick(blog)" class="flex flex-col gap-4 items-center cursor-pointer">
            <img [src]="blog.thumbnail" [alt]="blog.title" class="object-cover object-center w-full aspect-video">
            <div class="text-base text-branch">{{blog.title}}</div>
            <p class="px-4 line-clamp-2 text-clip text-center">{{blog.brief}} </p>
        </div>
        }
    </div>
</div>