@if (listDetail()) {
<div class="container flex flex-col mx-auto px-4">
  <div class="flex h-10"></div>
  <!--title-->
  <div class="flex flex-col lg:flex-row justify-center items-center h-16  pt-5 gap-6">
    <div class="text-gray-500 text-base space-x-2 w-full lg:w-2/3">
      <a class="" href="/home">CrownHanoi</a>
      <span class=""> >></span>
      <span class="text-black">{{listDetail()!.name}}</span>
    </div>
    <div class="w-full lg:w-1/3 text-base space-x-3 flex lg:justify-end lg:items-center">
      <span class="text-gray-500 whitespace-nowrap">Hiển thị 1–12 của 207 kết quả</span>
      <div>
        <button class="whitespace-nowrap" type="button" size="s" appearance="outline">
          {{ items[0] }}
        </button>
      </div>
    </div>
  </div>

  <!--content-->
  <div>
    <!--description-->
    <div class="mb-5 pt-6">
      <p class="text-[#777] text-base font-['Josefin_Sans'] sans-serif leading-normal">
        {{listDetail()!.description}}
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 mb-16">
      @for (product of productList(); track $index) {
      <div (click)="itemOnClick(product)"
        class="cursor-pointer flex-1 font-['Josefin_Sans'] sans-serif text-base flex flex-col gap-4">
        <img [src]="product.thumbnail" />
        <div class="flex flex-col">
          <p class="text-[#334862]">{{ product.name }}</p>
          <div class="flex flex-row gap-2">
            <span>Từ</span>
            <span class="font-bold"> {{ product.displayedPrice }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
}