<div class="flex flex-col gap-8 py-8 px-4 text-justify">
    @for (item of terms(); track $index) {
    <div class="flex flex-col lg:flex-row gap-10 ">
        <h4 class="w-full lg:w-2/5 text-center lg:text-start">{{item.label}}</h4>
        <div class="w-full lg:w-3/5">{{item.value}}</div>
    </div>
    }
</div>