<div class="flex flex-col mb-12">
  <!--banner1-->
  <div class="relative flex justify-center h-screen overflow-hidden">
    <div
      class="relative z-30 p-5 text-base text-white rounded-xl w-full lg:w-2/4 text-center mt-9 font-['Josefin_Sans'] sans-serif font-medium">
      Ý tưởng khởi nguồn bắt đầu từ việc ghi lại dấu ấn những khoảnh khắc nhỏ
      trong cuộc sống để tạo ra thứ gì đó gắn bó với bạn hàng ngày. Chúng tôi
      luôn cố gắng duy trì các tiêu chuẩn chất lượng nghiêm ngặt trong quá trình
      sản xuất và hoàn thiện hơn mỗi ngày.
    </div>
    <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
      <source src="https://office.crownhanoi.com/studio-720.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  @for (item of displayedProductList(); track $index) {
  <!--banner 2-->
  <div class="flex relative justify-center h-screen bg-cover bg-center"
    style.background-image="url({{item.thumbnail}})">
    <div class="flex items-center flex-col px-4">
      <h2 class="text-white text-5xl mt-10 mb-4 font-['Josefin_Sans'] sans-serif text-center">
        {{item.name | uppercase}}
      </h2>
      <p class="text-white mb-10 max-w-md text-lg line-clamp-2 text-center">{{item.description}}</p>
      <button
        class="flex items-center justify-center text-white border-2 border-white hover:bg-white hover:text-gray-700 px-4 py-2"
        (click)="navigate(item.slug)">
        XEM THÊM
      </button>
    </div>
  </div>
  }
  <!--banner 7-->
  <div class="flex lg:flex-row flex-col px-4 mt-6 gap-4">
    @for (item of displayedProductList(); track $index) {
    <div>
      <a href="#">
        <img [src]="item.thumbnail" />
      </a>
      <div class="flex flex-col justify-center items-center mt-2">
        <p class="text-gray-500">{{item.name}}</p>
        <p class="text-gray-500 text-xs"><span>{{item.productIds.length}}</span> sản phẩm</p>
      </div>
    </div>
    }

  </div>
</div>