<div class="flex flex-col items-center gap-6">
    <div class="w-full flex items-center justify-center lg:justify-start lg:items-end lg:pb-20 lg:pl-20 h-[calc(100vh-80px)] bg-center bg-cover text-white "
        [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/membership/membership_hero.jpg)'">
        <h2 class="max-w-md text-center lg:text-start text-lg lg:text-5xl">Chính sách khách hàng thân thiết
        </h2>
    </div>
    <div class="content-section px-4 flex flex-col lg:flex-row gap-8 items-center py-10">
        <img src="assets/membership/membership_1.jpg" class="object-cover object-center aspect-[8/9] w-full lg:w-1/4"
            alt="">
        <img src="assets/membership/membership_2.jpg" class="object-cover object-center aspect-[2/3] w-full lg:w-1/4"
            alt="">
        <div class="flex flex-col gap-6 w-full lg:w-1/2 lg:p-8">
            <h4>Giới thiệu</h4>
            <p>Với mong muốn đặt quyền lợi khách hàng lên hàng đầu, Crown xin được giới thiệu tới bạn chương trình Khách
                hàng thân thiết với những ưu đãi vô cùng thiết thực và minh bạch.
                Chúng tôi hy vọng rằng bạn sẽ được hưởng nhiều quyền lợi hấp dẫn khi tặng cho mình hay người thân những
                món trang sức đánh dấu kỉ niệm đẹp trên hành trình của chính mình.</p>
        </div>
    </div>
    <div class="flex flex-col w-full lg:max-w-3xl items-center mx-auto gap-8 px-4">
        <h3>Thông tin chung</h3>
        <ul class="list-decimal list-inside flex flex-col gap-2">
            <li>Hạng thẻ cao nhất mà khách hàng có được sẽ được duy trì vô thời hạn.</li>
            <li>Chính sách giảm giá và chính sách sử dụng điểm tích lũy sẽ được áp dụng cộng dồn.</li>
            <li>Thẻ thành viên sẽ định danh cùng với số điện thoại của khách hàng khi mua hàng.</li>
            <li>Để được nhận ưu đãi trong chương trình khách hàng thân thiết, vui lòng đăng kí đầy đủ thông tin (bao
                gồm: họ tên, ngày sinh, số điện thoại, địa chỉ email) và kết nối với Crown trên ZaloOA.</li>
            <li>Chương trình có thể áp dụng đồng thời với các chương trình ưu đãi khác tùy chính sách của từng đợt ưu
                đãi.</li>
            <li>Nhằm chung tay bảo vệ môi trường, Crown sẽ không phát hành thẻ vật lý. Thay vào đó bạn có thể dễ dàng
                kiểm tra số điểm tích lũy và hạng thẻ của mình trên ZaloOA.</li>
        </ul>
        <img class="w-full" src="assets/membership/membership_3.png" alt="">
    </div>
    <div class="px-4">
        <p>Lưu ý: Tất cả những ưu đãi đặc biệt trên chỉ áp dụng cho các đơn hàng phát sinh từ ngày 21/06/2023 – ngày mà
            chương trình khách hàng thân thiết chính thức ra mắt.
        </p>
    </div>
    <div class="flex flex-col lg:flex-row px-4 py-6 *:w-full lg:*:w-1/3">
        <div class="flex flex-col items-center border-r border-gray-200 p-6">
            <img class="w-1/4 aspect-square" src="assets/membership/zalo.png" alt="">
            <h4>ZaloOA Crownhanoi</h4>
        </div>
        <div class="flex flex-col items-center border-r border-gray-200 p-6">
            <img class="w-1/4 aspect-square" src="assets/membership/instagram.png" alt="">
            <h4>instagram.com/crownhanoi</h4>
        </div>
        <div class="flex flex-col items-center p-6">
            <img class="w-1/4 aspect-square" src="assets/membership/fb.png" alt="">
            <h4>Facebook.com/crownhanoi</h4>
        </div>
    </div>
</div>