<div class="h-screen bg-cover bg-center flex justify-center items-center flex-col gap-8"
    [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/warranty/warranty_home.jpg)'">
    <h1 class="text-white text-center h-max flex text-xl lg:text-5xl">CHÍNH SÁCH BẢO HÀNH</h1>
    <div class="flex flex-col lg:flex-row justify-center gap-6">
        <button (click)="navigate('warranty-1')"
            class="px-6 py-2 text-white border-4 border-white text-base hover:bg-white hover:text-branch">Vàng 10K
            - 14k - 18k - PLATINUM</button>
        <button (click)="navigate('warranty-2')"
            class="px-6 py-2 text-white border-4 border-white text-base hover:bg-white hover:text-branch">Bạc 925
            - vàng bọc - vàng mạ</button>
    </div>
</div>